.shop_box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 74px;
    position: relative;
}
.shop_item h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 0 15px;
    text-align: center;
    margin-bottom: 15px;
}
.shop_item {
    max-width: 400px;
    border: 1px #FF9900 solid;
    padding-bottom: 30px;
}
.shop_item .shop_item-info {
    margin: 0 15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.shop_item .shop_item-info .price {
    font-weight: bold;
}
.shop_item .btn {
    display: block;
    margin: 0 auto;
    padding: 11px 73px;
}
.shop_box .shop_filter {
    position: absolute;
    right: 0;
    top: calc(-15px - 21px);
}